.header {
  padding: 15px 20px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  top: 0;
}
.header-left {
  display: flex;
  justify-content: space-evenly;
}
.header-center {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-option > .MuiSvgIcon-root {
  color: gray;
}

.header-option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header-option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header-option--active {
  border-bottom: 4px solid #2e81f4;
}
.header-option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.header-option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}
.header-input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.header-input > form > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.header-right {
  padding-left: 10px;
  display: flex;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info > h4 {
  margin-left: 10px;
}
.header-left > img {
  margin: 5px;
  height: 40px;
}

button {
  display: none;
}
