.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.messageSender__top {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eff2f5;
}

.messageSender__top > form {
  display: flex;
  flex: 1;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  background-color: #eff2f5;
  margin: 0 10px;
  border-radius: 999px;
  padding: 5px 20px;
  width: 50%;
}

.messageSender__top > form > button {
  display: none;
}

.messageSender__bottom {
  cursor: pointer;
  padding: 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.messageSender__option {
  display: flex;
}
