.story > h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}
.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  height: 200px;
  width: 120px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.story:hover {
  transform: scale(1.07);
}
